input.textbox {
    background-color: white;
    border: 0px solid black;
    border-bottom: .1em solid black;
    width: 100%;
    display: block;
}

input.checkbox {
    display: inline;
}

.columns-1 {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.columns-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.columns-3 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}